@require './palette'

.main-wrapper
  min-height calc(100vh - 110px)
  box-sizing border-box
  padding 24px

a:link
  color: #2c3e50

a:visited
  color: #2c3e50

a:hover
  color: #2c3e50

a:active
  color: #2c3e50

