// 颜色
$accentColor = #2c3e50
$textColorLight = #1f6fb5
$textColor = #909399
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 字体
$fontSize = 14px

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// 主题色
$light-blue = #9dd3fa
$dark-blue = #1f6fb5
$light-orange = #fcd692
$light-white = #faffeb 
